<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola Golang</title>
</head>
<body>
<p>Hola !</p>

<p>Mi nombre es {{.Name}}, tengo {{.Age}} años.</p>

{{ if ge (len.Hobbies) 1 }}
<p>Mis pasatiempos favoritos son: </p>

<ul>
    {{range $index, $hobbie := .Hobbies}}
    <li>{{increment $index}}. {{$hobbie}}</li>
    {{end}}
</ul>
{{end}}
</body>
</html>